<main>
  <header>
    <nav>
      <div class="logo">Pra<span>cel</span></div>
      <ul>
        <!-- <li><a href="#">Home</a></li> -->
        <li>
          <a href="/Booking/Customer/Customer.Booking.html">Booking Services</a>
        </li>
        <li>
          <a href="/ContactSupport/Customer.ContactSupport.html">Contact Us</a>
        </li>
        <!-- <li><a href="#">Why Us</a></li> -->
      </ul>
      <div style="display: flex; gap: 40px">
        <a routerLink="/login"><button class="sign-up">Login</button></a>
        <a routerLink="/register"> <button class="sign-up">Register</button></a>
      </div>
    </nav>
  </header>

  <section class="hero">
    <div class="hero-content">
      <h1>Fast, Reliable parcel delivery service for your convenience.</h1>
      <p>
        Our leaders first identify the critical obstacles forward progress and
        then develop coherent approach.
      </p>
      <div class="tracking">
        <input type="text" placeholder="Track your shipment easily" />
        <button class="track-btn">Track</button>
      </div>
    </div>
    <div class="hero-image">
      <img src="assets/images/parcel.webp" alt="Delivery Man on Scooter" />
    </div>
  </section>

  <script src="script.js"></script>
</main>
